.chips:hover{
    background-color: red;
    opacity: 0.9;
    transform: scale(1.1);
}

.chips:active{
    opacity: 20;
    cursor: pointer;
}

.chips{
    background-color: whitesmoke;
}

p{
    font-family: 'Kaushan Script', cursive;
    padding-top: 10px;
    color: black;
}

p:hover{
    cursor: pointer;
    color: whitesmoke;
}