<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">


<div class="category">
    <mat-chip-listbox class="allchips">
      <mat-chip class="chips" *ngFor="let activities of adminactivities" (click)="onCategorySelected(activities)">
        <p>{{ activities }}</p>
      </mat-chip>
    </mat-chip-listbox>
</div>

<app-userinformations></app-userinformations>

<div class="logout-section">
  <button class="logout-button" (click)="loggingOut()">
      <mat-icon>logout</mat-icon>
  </button>
</div>
